In [10]:
import pandas as pd
seq = pd.read_csv('data/evcs_sequence.csv')
attr = pd.read_csv('data/evcs_attributes.csv')
embed = pd.read_csv('data/evcs_embedding.csv')

In [11]:
df = embed.copy()

df = df[df.sid.isin(seq.sid)]

In [29]:
seq

                       time                 sid  occupancy      id
0       2022-03-20 00:00:00       강원_강릉_강남동주민센터        0.0     0.0
1       2022-03-20 00:00:00    강원_강릉_강릉축협 하나로마트        0.0     2.0
2       2022-03-20 00:00:00      강원_강릉_강원도교육연수원        0.0     3.0
3       2022-03-20 00:00:00        강원_강릉_강원도립대학        0.0     4.0
4       2022-03-20 00:00:00  강원_강릉_강원양돈농협 하나로마트        0.0     5.0
...                     ...                 ...        ...     ...
363883  2022-03-26 23:40:00       충북_충주_이마트 충주점        0.0  1057.0
363884  2022-03-26 23:40:00    충북_충주_충주시청 민원주차장        0.0  1058.0
363885  2022-03-26 23:40:00       충북_충주_충주실내체육관        0.0  1059.0
363886  2022-03-26 23:40:00     충북_충주_충주종합스포츠타운        0.0  1060.0
363887  2022-03-26 23:40:00         충북_충주_평생학습관        0.0  1061.0

[363888 rows x 4 columns]

In [13]:
res = pd.merge(df, seq[['sid', 'id']], on = 'sid', how = 'left').groupby('sid').mean().reset_index()

In [14]:
res

,sid,umap_1,umap_2,umap_3,umap_4,umap_5,umap_6,umap_7,umap_8,id
0,강원_강릉_강남동주민센터,8.261596,5.375485,4.711554,6.793701,6.844904,9.262389,7.546947,6.304873,0.0
1,강원_강릉_강릉축협 하나로마트,8.151678,5.585845,4.004126,5.723880,5.575205,9.365921,6.776956,6.366620,2.0
2,강원_강릉_강원도교육연수원,8.329152,5.443759,4.051734,2.785187,4.890255,7.995803,6.954027,5.969278,3.0
3,강원_강릉_강원도립대학,8.160399,5.584676,3.984990,2.761592,4.956375,8.050358,6.829950,5.891249,4.0
4,강원_강릉_강원양돈농협 하나로마트,8.280510,5.424000,4.090035,5.529007,5.678575,9.319400,6.978778,6.485642,5.0
...,...,...,...,...,...,...,...,...,...,...
717,충북_충주_이마트 충주점,8.107466,5.625983,3.874539,5.608638,5.279572,8.857050,6.555145,6.166920,1057.0
718,충북_충주_충주시청 민원주차장,8.612368,4.834136,4.443982,4.470196,5.598176,8.512796,7.306812,6.360420,1058.0
719,충북_충주_충주실내체육관,7.992418,5.341586,4.796701,6.337998,6.943312,8.694623,7.003403,6.382822,1059.0
720,충북_충주_충주종합스포츠타운,6.554224,5.846991,3.563491,-0.446774,4.698729,8.630402,6.800158,5.953447,1060.0
721,충북_충주_평생학습관,7.124847,5.621316,3.612320,0.192337,4.892697,8.765769,7.189329,6.138591,1061.0

In [3]:
import pymysql
import pandas as pd
from private import db_info

host, user, password, db = db_info()

attributes = pd.read_csv('data/station_attributes.csv')
embedding = pd.read_csv('data/station_embedding.csv')
sequence = pd.read_csv('data/evcs_sequence.csv')

# Create Sequence's Table
create_query = '''
CREATE TABLE IF NOT EXISTS sequence (
Sid INT NOT NULL, 
Time DATETIME NOT NULL,
Occupancy INT NOT NULL,
PRIMARY KEY (Sid, Time)
)
'''

host, user, password, db = db_info()

connection = pymysql.connect(
    host=host,
    user=user,
    password=password,
    db=db,
    charset='utf8',
    port = 3306
)

with connection.cursor() as cursor:
    cursor.execute(create_query.replace('\n', ''))

# for idx, row in sequence.iterrows():
#     elements = row.values.tolist()
#     values = tuple([int(elements[-1])] + [elements[0]] + [elements[-2]])

#     insert_query = "INSERT INTO sequence VALUES {};"
    
#     with connection.cursor() as cursor:
#         cursor.execute(insert_query.format(values))
#         connection.commit()

In [2]:
for idx, row in sequence.iterrows():

    elements = row.values.tolist()
    values = tuple([int(elements[-1])] + [elements[0]] + [elements[-2]])
    
    insert_query = "INSERT INTO sequence VALUES {};"
    
    with connection.cursor() as cursor:
        cursor.execute(insert_query.format(values))
        connection.commit()

In [6]:
sequence

                       time                 sid  occupancy      id
0       2022-03-20 00:00:00       강원_강릉_강남동주민센터        0.0     0.0
1       2022-03-20 00:00:00    강원_강릉_강릉축협 하나로마트        0.0     2.0
2       2022-03-20 00:00:00      강원_강릉_강원도교육연수원        0.0     3.0
3       2022-03-20 00:00:00        강원_강릉_강원도립대학        0.0     4.0
4       2022-03-20 00:00:00  강원_강릉_강원양돈농협 하나로마트        0.0     5.0
...                     ...                 ...        ...     ...
363883  2022-03-26 23:40:00       충북_충주_이마트 충주점        0.0  1057.0
363884  2022-03-26 23:40:00    충북_충주_충주시청 민원주차장        0.0  1058.0
363885  2022-03-26 23:40:00       충북_충주_충주실내체육관        0.0  1059.0
363886  2022-03-26 23:40:00     충북_충주_충주종합스포츠타운        0.0  1060.0
363887  2022-03-26 23:40:00         충북_충주_평생학습관        0.0  1061.0

[363888 rows x 4 columns]